# SecretProviderClass - GKE Secrets Store CSI Driver
# This mounts secrets from GCP Secret Manager as files in pods

apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: ztna-secrets
spec:
  provider: gke
  parameters:
    secrets: |
      - resourceName: "projects/trivpn-demo-prj/secrets/jwt-private-key/versions/latest"
        path: "private-key"
      - resourceName: "projects/trivpn-demo-prj/secrets/jwt-public-key/versions/latest"
        path: "public-key"
---
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: database-secrets
spec:
  provider: gke
  parameters:
    secrets: |
      - resourceName: "projects/trivpn-demo-prj/secrets/ztna-db-username/versions/latest"
        path: "username"
      - resourceName: "projects/trivpn-demo-prj/secrets/ztna-db-password/versions/latest"
        path: "password"
      - resourceName: "projects/trivpn-demo-prj/secrets/ztna-db-name/versions/latest"
        path: "database"
      - resourceName: "projects/trivpn-demo-prj/secrets/ztna-db-host/versions/latest"
        path: "host"
---
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: cache-secrets
spec:
  provider: gke
  parameters:
    secrets: |
      - resourceName: "projects/trivpn-demo-prj/secrets/ztna-cache-password/versions/latest"
        path: "password"
